@import './../../variables';

.first-page header {
  position: relative;
  padding: 12rem 3rem;

  @include respond(tab-port) {
    padding-top: 6rem;
  }

  @include respond(phone) {
    padding-top: 0rem;

    h1 {
      margin-top: 3rem;
    }
  }

  .header-content {
    margin: auto;

    width: $header-width;
    max-width: 100%;

    display: flex;
    align-items: center;
  }

  .text-half {
    max-width: 60rem;

    @media only screen and (max-width: 1080px) {
      max-width: 55rem;
    }

    @media only screen and (max-width: 980px) {
      max-width: 50rem;
    }

    @media only screen and (max-width: 780px) {
      max-width: 40rem;
    }

    @media only screen and (max-width: 680px) {
      max-width: 35rem;
    }

    @include respond(phone) {
      max-width: 100%;
      width: 100%;

      & a {
        display: block;
        margin: auto;
        width: 70%;
      }
    }

    a {
      margin-top: 2rem;

      @include respond(phone) {
        display: block;
        margin: auto;
        width: 70%;
      }

      @media only screen and (max-width: 380px) {
        width: 100%;
      }
    }
  }
}
