<nav id='nav' class='shadow'>
  <div class='nav-content'>
    <a class='main-logo' href='/'><img
        class='logo'
        src='assets/images/Skilla_logo.svg'
      /></a>
    <div class='nav-content-desktop'>
      {{! <a class='navlink' href='/free-trial.html'>Free trial</a> }}
      <a class='navlink' href='/'>Home</a>
      <a class='navlink' href='/how-it-works.html'>How it works</a>
      <a class='navlink' href='/about-us.html'>About</a>
      <a class='navlink' href='/contact-us.html'>Contact us</a>
    </div>

    <div class='nav-content-mobile'>
      <button
        id='hamburger-button'
        class='hamburger hamburger--spin'
        type='button'
      >
        <span class='hamburger-box'>
          <span class='hamburger-inner'></span>
        </span>
      </button>
      <div class='nav-content-mobile-container'>
        {{! <a class='navlink' href='/free-trial.html'>Free trial</a> }}
        <a class='navlink' href='/'>Home</a>
        <a class='navlink' href='/how-it-works.html'>How it works</a>
        <a class='navlink' href='/about-us.html'>About</a>
        <a class='navlink' href='/contact-us.html'>Contact us</a>
      </div>
    </div>
  </div>
</nav>