<div class='c21 doc-content'>
  <h1 class='c15' id='h.cm6uhpnfyipf'>
    <span class='c22'>SKILA RETURNS MERCHANT TERMS &amp; CONDITIONS</span>
  </h1>
  <p class='c7 c10'><span class='c1'></span></p>
  <p class='c9'>
    <span class='c2'>DEFINITIONS</span><span class='c1'>. &nbsp;</span>
  </p>
  <p class='c7 c6'>
    <span>&ldquo;</span><span class='c2'>Aggregate Data</span><span
      class='c1'
    >&rdquo; means any data that is derived or aggregated in de identified form
      from (i) any Merchant Materials; or (ii) Merchant&rsquo;s and/or its
      Authorized Users&rsquo; Use of the Subscription Services.</span>
  </p>
  <p class='c7'><span class='c1'>&nbsp;</span></p>
  <p class='c7 c6'>
    <span>&ldquo;</span><span class='c2'>Company IP</span><span
      class='c1'
    >&rdquo; means the Subscription Services, the underlying software,
      algorithms, interfaces, technology, databases, tools, know-how, processes
      and methods used to provide or deliver the Subscription Services or any
      Professional Services, Documentation, and Aggregate Data, all
      improvements, modifications or enhancements to, or derivative works of,
      the foregoing (regardless of inventorship or authorship), and all
      intellectual property rights in and to any of the foregoing.</span>
  </p>
  <p class='c7'><span class='c1'>&nbsp;</span></p>
  <p class='c7 c6'>
    <span>&ldquo;</span><span class='c2'>Documentation</span><span
      class='c1'
    >&rdquo; means the operator and user manuals, training materials,
      specifications, minimum system configuration requirements, compatible
      device and hardware list and other similar materials in hard copy or
      electronic form if and as provided by Company to Merchant (including any
      revised versions thereof) relating to the Subscription Services, which may
      be updated from time to time upon notice to Merchant.</span>
  </p>
  <p class='c7'><span class='c1'>&nbsp;</span></p>
  <p class='c6 c8'>
    <span>&ldquo;</span><span class='c2'>End Users</span><span
      class='c1'
    >&rdquo; means end users of the Sites, including Merchant&rsquo;s customers
      and potential customers.
    </span>
  </p>
  <p class='c8 c6'>
    <span>&ldquo;</span><span class='c2'>Licensed Volume</span><span
      class='c1'
    >&rdquo; means the limits, volume or other measurement or conditions of
      permitted Use for the applicable Subscription Service as set forth in the
      applicable Order Form, including any limits on the number of Authorized
      Users permitted to Use the Subscription Services or the number of web
      pages, Sites, or returns/exchanges based on Merchant&rsquo;s subscription
      tier.</span>
  </p>
  <p class='c7 c6'>
    <span>&ldquo;</span><span class='c2'>Merchant Materials</span><span>&rdquo;
      means all information, data, content and other materials, in any form or
      medium, that is transmitted or otherwise provided by or on behalf of
      Merchant or any End Users through the Subscription Services or to Company
      in connection with Merchant&rsquo;s Use of the Subscription Services, but
      excluding, for clarity, Aggregate Data and</span><span
      class='c20'
    >&nbsp;</span><span class='c1'>any other Company IP.</span>
  </p>
  <p class='c24'><span class='c16'>&nbsp;</span></p>
  <p class='c8 c6'>
    <span>&ldquo;</span><span class='c2'>Order Form</span><span
      class='c1'
    >&rdquo; means a (i) mutually executed order form or other mutually agreed
      upon ordering document; (ii) purchase order issued by Merchant and
      accepted by Company in writing; or (iii) quote issued by Company and
      accepted by Merchant, in each case which references this Agreement and
      sets forth the applicable Subscription Services and/or Professional
      Services to be provided by Company.</span>
  </p>
  <p class='c7 c6'>
    <span>&ldquo;</span><span class='c2'>Professional Services</span><span
      class='c1'
    >&rdquo; means the customization, integration, implementation and/or other
      professional services, if any, described in the applicable Order Form.</span>
  </p>
  <p class='c7'><span class='c1'>&nbsp;</span></p>
  <p class='c7 c6'>
    <span>&ldquo;</span><span class='c2'>Subscription Services</span><span
      class='c1'
    >&rdquo; means the proprietary technology platform provided by Company, as
      more particularly described or identified in the applicable Order Form.
    </span>
  </p>
  <p class='c7'><span class='c1'>&nbsp;</span></p>
  <p class='c7 c6'>
    <span>&ldquo;</span><span class='c2'>Use</span><span class='c1'>&rdquo;
      means to use and access the Subscription Services in accordance with this
      Agreement and the Documentation, including by making the Subscription
      Services available to End Users via the Sites.</span>
  </p>
  <p class='c7'><span class='c1'>&nbsp;</span></p>
  <p class='c9'>
    <span class='c2'>SUBSCRIPTION SERVICES</span><span class='c1'>.</span>
  </p>
  <ol class='c12 lst-kix_oe2v8m2howdw-0 start' start='1'>
    <li class='c4 li-bullet-0'>
      <span class='c0'>Services</span><span class='c1'>. Company will provide
        the Subscription Services (and if applicable, the Professional Services)
        to Merchant in accordance with the terms and conditions set forth in the
        applicable Order Form and this Agreement and any limitations, including
        without limitation, in connection with the Licensed Volume.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </li>
    <li class='c5 c6 li-bullet-0'>
      <span class='c0'>Right to Use the Subscription Services</span><span>. As
        between Merchant and Company, Company owns and retains all right, title
        and interest in and to the Subscription Services, Documentation and the
        Professional Services, including all intellectual property rights
        therein and Merchant further assigns to Company any feedback provided by
        or on behalf of Merchant. Subject to Merchant&rsquo;s compliance with
        the terms and conditions of this Agreement, Company hereby grants to
        Merchant a limited, non-exclusive, non-transferable (except pursuant to
      </span><span class='c0'>Section 12 (a)</span><span class='c1'>) right to
        Use the Subscription Services in accordance with, and subject to, the
        Licensed Volume during the applicable Term. Subject to the limited
        rights expressly granted hereunder, Company reserves and, as between the
        Parties will solely own, the Company IP and all rights, title and
        interest in and to the Company IP. &nbsp;All intellectual property
        rights created in any Company IP will vest solely in Company upon
        creation, and to the extent that sole ownership does not originally vest
        in Company, such intellectual property rights are hereby automatically
        and irrevocably assigned by Merchant to Company. Merchant will take all
        actions and execute all documents reasonably requested by the Company to
        give effect to the preceding sentence. No rights are granted to Merchant
        hereunder (whether by implication, estoppel, exhaustion or otherwise)
        other than as expressly set forth herein. &nbsp;</span>
    </li>
    <li class='c4 li-bullet-0'>
      <span class='c0'>Use Restrictions</span><span class='c1'>. Merchant will
        not and will not permit any person or entity (including, without
        limitation, Authorized Users and End Users) to, directly or indirectly:
        (i) copy, modify or create any derivative work of any portion of the
        Subscription Services or the Documentation; (ii) reverse engineer,
        decompile, decode, or disassemble or otherwise attempt to derive or gain
        improper access to any software component of the Subscription Services,
        in whole or in part; (iii) frame, mirror, sell, resell, market,
        sublicense, publish, distribute, reproduce, assign, transfer, rent,
        lease or loan any portion of the Subscription Services to any other
        person or entity, or otherwise allow any person or entity to Use the
        Subscription Services for any purpose other than for the benefit of
        Merchant in accordance with this Agreement; (iv) Use the Subscription
        Services or Documentation in any manner or for any purpose that
        infringes, misappropriates, or otherwise violates any intellectual
        property rights or other right of any person or entity, or that violates
        any applicable law; (v) access or search the Subscription Services (or
        download any data or content contained therein or transmitted thereby)
        through the use of any engine, software, tool, agent, device or
        mechanism (including spiders, robots, crawlers or any other similar data
        mining tools) other than software or Subscription Services features
        provided by Company for use expressly for such purposes; or (vi) Use the
        Subscription Services, Documentation or any other Company Confidential
        Information for benchmarking or competitive analysis with respect to
        competitive or related products or services, or to develop,
        commercialize, license or sell any product, service or technology that
        could, directly or indirectly, compete with the Subscription Services.
      </span>
    </li>
    <li class='c4 li-bullet-0'>Authorized Users</span><span>. Merchant will not allow any person or
        entity other than its employees or contractors that it authorizes to Use
        the Subscription Services on its behalf (&ldquo;</span><span
        class='c2'
      >Authorized Users</span><span>&rdquo;), excluding, for the avoidance of
        doubt, making the Subscription Services available to End Users via the
        Sites. Merchant may permit Authorized Users to Use the Subscription
        Services, provided that (i) the Use, including the number of Authorized
        Users, does not exceed the Licensed Volume; and (ii) Merchant ensures
        that all Authorized Users comply with the terms and conditions of this
        Agreement, including, without limitation, with Merchant&rsquo;s
        obligations and the restrictions set forth in
      </span><span class='c0'>Section 2 (c)</span><span class='c1'>. Company may
        suspend or terminate any Authorized User&rsquo;s access to the
        Subscription Services upon notice to Merchant in the event that Company
        reasonably determines that such Authorized User violated this Agreement.
        Merchant is responsible for all acts or omissions by its Authorized
        Users in connection with their Use of the Subscription Services and for
        any use of the Subscription Services by End Users via the Sites.
      </span>
    </li>
  </ol>
  <p class='c8 c6'><span class='c2'>FEES</span><span class='c1'>. </span></p>
  <p class='c8 c6'>
    <span>In consideration for Company providing the Subscription Services and,
      if applicable, the Professional Services, Merchant will pay Company the
      non-refundable fees set forth in the applicable Order Form (&ldquo;</span><span
      class='c2'
    >Fees</span><span class='c1'>&rdquo;) in accordance with the payment terms
      set forth therein and without offset or deduction. If Merchant has agreed
      to automatic billing, Company will charge Merchant&rsquo;s selected
      payment method (such as a credit card, debit card, or other method
      available in Merchant&rsquo;s home country) for any Fees on the applicable
      payment date, including any applicable taxes. If Company cannot charge
      Merchant&rsquo;s selected payment method for any reason (such as
      expiration or insufficient funds), Merchant remains responsible for any
      uncollected amounts, and Company will attempt to charge the payment method
      again as Merchant may update its payment method information. In accordance
      with local law, Company may update information regarding Merchant&rsquo;s
      selected payment method if provided such information by Merchant&rsquo;s
      financial institution.</span>
  </p>
  <p class='c8 c6'>
    <span class='c1'>In the event Merchant&rsquo;s return volume exceeds the
      monthly return limits based on the applicable tier set forth in the Order
      Form, within ninety (90) days of notice from Company, Merchant and Company
      will discuss in good faith to execute an updated Order Form that reflects
      the applicable tier based on Merchant&rsquo;s actual return volume.</span>
  </p>
  <p class='c9'>
    <span class='c2'>MERCHANT MATERIALS AND DATA</span><span class='c1'>.
    </span>
  </p>
  <ol class='c12 lst-kix_jf38mr7nazzp-0 start' start='1'>
    <li class='c4 li-bullet-0'>
      <span>Company acknowledges that, as between Merchant and Company and
        except as set forth in
      </span><span class='c0'>Section 5(b)</span><span class='c1'>, Merchant
        owns and retains all right, title and interest in and to all Merchant
        Materials. Company may use, display and modify the Merchant Materials,
        including Merchant&rsquo;s names, logos, designs, and other trademarks
        solely to provide and improve the Subscription Services and Professional
        Services during the Term (as defined below).</span>
    </li>
    <li class='c4 li-bullet-0'>
      <span>The Parties agree that the terms of the Data Processing Addendum
        attached hereto as Exhibit A (the &ldquo;</span><span
        class='c2'
      >DPA</span><span class='c1'>&rdquo;) shall govern Company&rsquo;s
        processing of Personal Data (as defined in the DPA).</span>
    </li>
  </ol>
  <p class='c7'><span class='c14'>&nbsp;</span></p>
  <p class='c9'>
    <span class='c2'>REPRESENTATIONS AND WARRANTIES</span><span class='c1'>.
    </span>
  </p>
  <ol class='c12 lst-kix_xxufup8tcid4-0 start' start='1'>
    <li class='c4 li-bullet-0'>
      <span class='c1'>Each Party represents and warrants to the other Party
        that: (a) it has full power and authority to enter into this Agreement;
        and (b) the execution, delivery and performance of this Agreement by it
        have been duly authorized by all necessary actions and do not violate
        its organizational documents.
      </span>
    </li>
    <li class='c4 li-bullet-0'>
      <span class='c1'>Merchant represents and warrants that Company&rsquo;s use
        of the Merchant Materials in accordance with this Agreement will not
        violate any applicable laws or regulations or cause a breach of any
        agreement or obligations between Merchant and any third-party.</span>
    </li>
  </ol>
  <p class='c8 c6'>
    <span class='c2'>TERM</span><span>.</span><span
      class='c2'
    >&nbsp;</span><span>The initial term of this Agreement begins on the
      Effective Date and remains in effect for one (1) year (the &ldquo;</span><span
      class='c2'
    >Initial Term</span><span>&rdquo;). Except as otherwise set forth in the
      Order Form, following the Initial Term, this Agreement will automatically
      renew for additional periods of one (1) year (each, a &ldquo;</span><span
      class='c2'
    >Renewal Term</span><span>,&rdquo; and together with the Initial Term, the
      &ldquo;</span><span class='c2'>Term</span><span class='c1'>&rdquo;),
      unless either Party provides the other with at least sixty (60)
      days&rsquo; written notice of its intent not to renew this Agreement prior
      to the end of the then-current Term.</span>
  </p>
  <p class='c8 c6'>
    <span class='c2'>TERMINATION</span><span>. Either Party may terminate this
      Agreement, effective on written notice to the other Party, if the other
      Party materially breaches this Agreement, and, if able to be cured, such
      breach remains uncured thirty (30) days after the non-breaching Party
      provides the breaching Party with written notice of such breach. Company
      may further terminate this Agreement immediately upon written notice to
      Merchant in the event that Merchant breaches
    </span><span class='c0'>Sections 2(b)</span><span>, </span><span
      class='c0'
    >2(c)</span><span class='c1'>&nbsp;or (2(d), or infringes or otherwise
      violates Company&rsquo;s intellectual property rights in and to the
      Subscription Services.</span>
  </p>
  <p class='c9'>
    <span class='c2'>EFFECT OF TERMINATION</span><span class='c1'>.</span>
  </p>
  <ol class='c12 lst-kix_lmd852asey9v-0 start' start='1'>
    <li class='c4 li-bullet-0'>
      <span>Upon expiration or termination of an Order Form (other than
        termination pursuant to
      </span><span class='c0'>Section 7</span><span class='c1'>), each other
        Order Form that is then-in effect, if applicable, will remain in effect
        for the duration of the then-current Term of such Order Form.</span>
    </li>
    <li class='c4 li-bullet-0'>
      <span>Upon expiration or termination of each Order Form: (i) each Party
        will make no further use of any Confidential Information belonging to
        the other Party, and will promptly return to the other Party (or
        destroy) all Confidential Information of the other Party in its
        possession or control, except for any archived electronic communications
        which may be stored confidentially, (ii) Merchant&rsquo;s and its
        Authorized Users&rsquo; right to Use the Subscription Services pursuant
        to such Order Form will immediately terminate and Merchant shall
        immediately remove the Subscription Services from the Sites, including
        any access by End Users; and (iii) all Fees owed by Merchant to Company
        pursuant to such Order Form will be immediately due; provided that if
        Merchant terminates the Order Form for cause in accordance with
      </span><span class='c0'>Section 7</span><span class='c1'>, Company will
        refund to Merchant a pro rata amount of any Fees paid up-front based on
        the remainder of the applicable Term.
      </span>
    </li>
    <li class='c4 li-bullet-0'>
      <span>The rights and obligations of Company and Merchant contained in
      </span><span class='c0'>Sections 3</span><span>, </span><span
        class='c0'
      >0</span><span>,</span><span class='c0 c2'>.</span><span
        class='c0'
      >8</span><span>, </span><span class='c0'>9</span><span>, </span><span
        class='c0'
      >10</span><span>, </span><span class='c0'>11</span><span>&nbsp;and
      </span><span class='c0'>12</span><span class='c1'>&nbsp;will survive any
        expiration or termination of this Agreement and Order Forms.</span>
    </li>
  </ol>
  <p class='c9'>
    <span class='c2'>CONFIDENTIALITY</span><span class='c1'>. &nbsp;</span>
  </p>
  <ol class='c12 lst-kix_za150akrf781-0 start' start='1'>
    <li class='c5 c6 li-bullet-0'>
      <span class='c0'>Confidentiality</span><span>. As used herein, &ldquo;</span><span
        class='c2'
      >Confidential Information</span><span>&rdquo; means any information that
        one Party (the &ldquo;</span><span class='c2'>Disclosing Party</span><span
      >&rdquo;) provides to the other Party (the &ldquo;</span><span
        class='c2'
      >Receiving Party</span><span>&rdquo;) in connection with this Agreement,
        whether orally or in writing, that is designated as confidential or that
        reasonably should be considered to be confidential given the nature of
        the information and/or the circumstances of disclosure. For clarity, the
        Subscription Services and the Documentation will be deemed Confidential
        Information of Company. &nbsp;The Receiving Party will not use or
        disclose any Confidential Information of the Disclosing Party except as
        necessary to perform its obligations or exercise its rights under this
        Agreement;
      </span><span class='c23'>provided</span><span class='c1'>&nbsp;that
        Company may use and modify Confidential Information of Merchant in de
        identified form for purposes of developing and deriving Aggregate Data.
        The Receiving Party may disclose Confidential Information of the
        Disclosing Party only: (i) to those of its employees, contractors,
        agents and advisors who have a bona fide need to know such Confidential
        Information to perform under this Agreement and who are bound by written
        agreements with use and nondisclosure restrictions at least as
        protective of the Confidential Information as those set forth in this
        Agreement, or (ii) as such disclosure may be required by the order or
        requirement of a court, administrative agency or other governmental
        body, subject to the Receiving Party providing to the Disclosing Party
        reasonable written notice to allow the Disclosing Party to seek a
        protective order or otherwise contest the disclosure. The terms and
        conditions of this Agreement will constitute Confidential Information of
        each Party but may be disclosed on a confidential basis to a
        Party&rsquo;s advisors, attorneys, actual or bona fide potential
        acquirers, investors or other sources of funding (and their respective
        advisors and attorneys) for due diligence purposes. &nbsp;Confidential
        Information shall not include personal data, which is governed by the
        DPA.</span>
    </li>
    <li class='c4 li-bullet-0'>
      <span class='c0'>Exclusions</span><span>. The obligations in
      </span><span class='c0'>Section 9(a)</span><span class='c1'>&nbsp;will not
        apply to the extent any information: (i) is or becomes generally known
        to the public through no fault or breach of this Agreement by the
        Receiving Party; (ii) is rightfully known by the Receiving Party at the
        time of disclosure without an obligation of confidentiality; (iii) is
        independently developed by the Receiving Party without access to or use
        of any Confidential Information of the Disclosing Party that can be
        evidenced in writing; or (iv) is rightfully obtained by the Receiving
        Party from a third party without restriction on use or disclosure.
      </span>
    </li>
  </ol>
  <p class='c9'>
    <span class='c2'>DISCLAIMER; LIMITATION OF LIABILITY</span><span
      class='c1'
    >.</span>
  </p>
  <ol class='c12 lst-kix_qmj31s72z7s5-0 start' start='1'>
    <li class='c5 li-bullet-0'>
      <span class='c0'>Disclaimer</span><span class='c1'>. THE SUBSCRIPTION
        SERVICES, PROFESSIONAL SERVICES, AND OTHER COMPANY IP ARE PROVIDED ON AN
        &ldquo;AS IS&rdquo; BASIS, AND COMPANY MAKES NO WARRANTIES OR
        REPRESENTATIONS TO MERCHANT, ITS AUTHORIZED USERS OR TO ANY OTHER PARTY
        REGARDING THE COMPANY IP, THE SUBSCRIPTION SERVICES, PROFESSIONAL
        SERVICES OR ANY OTHER SERVICES OR MATERIALS PROVIDED HEREUNDER. TO THE
        MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, COMPANY HEREBY DISCLAIMS ALL
        WARRANTIES AND REPRESENTATIONS, WHETHER EXPRESS OR IMPLIED, INCLUDING,
        BUT NOT LIMITED TO, ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS
        FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT, AND ANY WARRANTIES ARISING
        OUT OF COURSE OF DEALING OR USAGE OF TRADE. WITHOUT LIMITING THE
        FOREGOING, COMPANY HEREBY DISCLAIMS ANY WARRANTY THAT USE OF THE
        SUBSCRIPTION SERVICES OR PROFESSIONAL SERVICES WILL BE ERROR-FREE,
        BUG-FREE OR UNINTERRUPTED. FOR THE AVOIDANCE OF DOUBT, THE SUBSCRIPTION
        SERVICES ARE INTENDED ONLY TO FACILITATE THE RETURN AND EXCHANGE BY END
        USERS OF PRODUCTS AND SERVICES SOLD BY MERCHANT THROUGH THE SITES, AND
        THE PROCESSING, FULFILLMENT, AND REFUND OF ANY RETURNS OR EXCHANGES ARE
        MERCHANT&rsquo;S SOLE RESPONSIBILITY. &nbsp;IN ADDITION, MERCHANT IS
        SOLELY RESPONSIBLE FOR COMPLIANCE WITH ALL APPLICABLE LAWS, RULES,
        REGULATIONS, AND STANDARDS WITH RESPECT TO THE PRODUCTS AND SERVICES
        OFFERED BY MERCHANT.</span>
    </li>
    <li class='c3 li-bullet-0'>
      <span class='c0'>Exclusion of Damages</span><span class='c1'>. EXCEPT FOR
        (I) BREACH OF CONFIDENTIALITY, (II) FRAUD OR WILFUL MISCONDUCT BY EITHER
        PARTY, (III) BREACH OF MERCHANT&rsquo;S PAYMENT OBLIGATIONS AND (IV)
        INFRINGEMENT OR VIOLATION OF THE OTHER PARTY&rsquo;S INTELLECTUAL
        PROPERTY RIGHTS, NEITHER PARTY WILL BE LIABLE TO THE OTHER PARTY FOR ANY
        INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL
        DAMAGES, OR ANY LOSS OF INCOME, DATA, PROFITS, REVENUE OR BUSINESS
        INTERRUPTION, OR THE COST OF COVER OR SUBSTITUTE SERVICES OR OTHER
        ECONOMIC LOSS, ARISING OUT OF OR IN CONNECTION WITH THIS AGREEMENT, THE
        COMPANY IP OR THE PROVISION OF THE SUBSCRIPTION SERVICES AND
        PROFESSIONAL SERVICES, WHETHER SUCH LIABILITY ARISES FROM ANY CLAIM
        BASED ON CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE), STRICT
        LIABILITY OR OTHERWISE, AND WHETHER OR NOT SUCH PARTY WAS ADVISED OF THE
        POSSIBILITY OF SUCH LOSS OR DAMAGE.</span>
    </li>
    <li class='c3 li-bullet-0'>
      <span class='c0'>Total Liability</span><span class='c1'>. &nbsp;EXCEPT FOR
        (I) COMPANY&rsquo;S FRAUD OR WILLFUL MISCONDUCT AND (II) LIABILITY WITH
        RESPECT TO PERSONAL DATA, IN NO EVENT WILL COMPANY&rsquo;S TOTAL
        LIABILITY TO MERCHANT OR ITS AUTHORIZED USERS IN CONNECTION WITH THIS
        AGREEMENT, THE COMPANY IP OR THE PROVISION OF THE SUBSCRIPTION SERVICES
        OR PROFESSIONAL SERVICES EXCEED THE FEES ACTUALLY PAID BY MERCHANT TO
        COMPANY IN THE TWELVE (12) MONTH PERIOD PRECEDING THE EVENT GIVING RISE
        TO THE CLAIM, REGARDLESS OF THE LEGAL OR EQUITABLE THEORY ON WHICH THE
        CLAIM OR LIABILITY IS BASED, AND WHETHER OR NOT COMPANY WAS ADVISED OF
        THE POSSIBILITY OF SUCH LOSS OR DAMAGE. NOTWITHSTANDING THE FOREGOING,
        SOLELY FOR LIABILITY WITH RESPECT TO PERSONAL DATA, IN NO EVENT WILL
        COMPANY&rsquo;S TOTAL LIABILITY TO MERCHANT OR ITS AUTHORIZED USERS IN
        CONNECTION WITH THIS AGREEMENT, THE COMPANY IP OR THE PROVISION OF THE
        SUBSCRIPTION SERVICES OR PROFESSIONAL SERVICES EXCEED TWO TIMES (2X) THE
        FEES ACTUALLY PAID BY MERCHANT TO COMPANY IN THE TWELVE (12) MONTH
        PERIOD PRECEDING THE EVENT GIVING RISE TO THE CLAIM, REGARDLESS OF THE
        LEGAL OR EQUITABLE THEORY ON WHICH THE CLAIM OR LIABILITY IS BASED, AND
        WHETHER OR NOT COMPANY WAS ADVISED OF THE POSSIBILITY OF SUCH LOSS OR
        DAMAGE.</span>
    </li>
    <li class='c4 li-bullet-0'>
      <span class='c0'>Basis of the Bargain</span><span>. THE PARTIES HEREBY
        ACKNOWLEDGE AND AGREE THAT THE LIMITATIONS OF LIABILITY IN THIS
      </span><span class='c0'>SECTION 10</span><span class='c1'>&nbsp;ARE AN
        ESSENTIAL PART OF THE BASIS OF THE BARGAIN BETWEEN COMPANY AND MERCHANT,
        AND WILL APPLY EVEN IF THE REMEDIES AVAILABLE HEREUNDER ARE FOUND TO
        FAIL THEIR ESSENTIAL PURPOSE.</span>
    </li>
  </ol>
  <p class='c9'>
    <span class='c2'>INDEMNIFICATION</span><span class='c1'>.</span>
  </p>
  <ol class='c12 lst-kix_kzyhb0gbtx8d-0 start' start='1'>
    <li class='c4 li-bullet-0'>
      <span class='c0'>Indemnification by Company</span><span>. Subject to
      </span><span class='c0'>Section 11(b)</span><span>, Company will defend
        Merchant against any claim, suit or proceeding brought by a third party
        (&ldquo;</span><span class='c2'>Claims</span><span class='c1'>&rdquo;)
        alleging that Merchant&rsquo;s Use of the Subscription Services
        infringes or misappropriates such third-party&rsquo;s intellectual
        property rights, and will indemnify and hold harmless Merchant against
        any damages and costs awarded against Merchant or agreed in settlement
        by Company (including reasonable attorneys&rsquo; fees) resulting from
        such Claim.</span>
    </li>
    <li class='c4 li-bullet-0'>
      <span class='c0'>Exclusions</span><span>. Company&rsquo;s obligations
        under
      </span><span class='c0'>Section 11(a)</span><span class='c1'>&nbsp;will
        not apply if the underlying Claim arises from or as a result of: (i)
        Merchant&rsquo;s breach of this Agreement, negligence, willful
        misconduct or fraud; (ii) any Merchant Materials or the Sites; (iii)
        Merchant&rsquo;s failure to use any enhancements, modifications, or
        updates to the Subscription Services that have been provided by Company,
        including use of a prior version of the Subscription Services that has
        been superseded by a non-infringing version provided by Company; (iv)
        modifications to the Subscription Services by anyone other than Company;
        or (v) combinations of the Subscription Services with software, data or
        materials not provided by Company.</span>
    </li>
    <li class='c5 c6 li-bullet-0'>
      <span class='c0'>Indemnification by Merchant</span><span>. Merchant will
        defend (or settle), indemnify and hold harmless Company from and against
        any damages and liabilities (including court costs and reasonable
        attorneys&rsquo; fees) awarded in a final judgment against Company, and
        amounts agreed to in settlement with respect to each of the foregoing,
        to the extent arising from a Claim against Company that: (i) the
        Merchant Materials or its use by Company in accordance with this
        Agreement infringes, misappropriates or violates a third-party&rsquo;s
        intellectual property rights, or rights of publicity or privacy, or
        result in the violation of any applicable law, rule, or regulation; (ii)
        is based on Merchant&rsquo;s or an Authorized User&rsquo;s Use of the
        Subscription Services or Documentation to the extent such Use was not in
        accordance with this Agreement; (iii) is based on the manufacture, sale,
        return, exchange, distribution or marketing of any Merchant&rsquo;s
        products or services or any violation of applicable law, rule,
        regulation, or standard with respect to Merchant&rsquo;s products or
        services; (iv) is based on a breach of
      </span><span class='c0'>Section</span><span>&nbsp;</span><span
        class='c0'
      >2(c)</span><span>&nbsp;by Merchant; or (v) is based on negligence,
        willful misconduct, or fraud by Merchant. Merchant&rsquo;s obligations
        under this
      </span><span class='c0'>Section 11(c)</span><span class='c1'>&nbsp;are
        contingent upon: (1) Company providing Merchant with prompt written
        notice of such Claim (but in any event notice in sufficient time for
        Merchant to respond without prejudice); (2) Merchant having the
        exclusive right to defend or settle such Claim; and (3) Company
        providing all reasonably necessary cooperation to Merchant, at
        Merchant&rsquo;s expense, in the defense and settlement of such Claim.
        Company may participate in the defense of any Claim at its own expense.</span>
    </li>
  </ol>
  <p class='c7 c10 c6 c13'><span class='c1'></span></p>
  <p class='c9'>
    <span class='c2'>MISCELLANEOUS</span><span class='c1'>.</span>
  </p>
  <ol class='c12 lst-kix_1h6la966acsn-0 start' start='1'>
    <li class='c4 li-bullet-0'>
      <span class='c0'>Publicity</span><span>. Subject to the provisions of
        Section 9, each Party shall have the right to publicly announce the
        existence of the business relationship between the Parties. &nbsp;In
        addition, during the Term, Company may use Merchant&rsquo;s name,
        trademarks, and logos (collectively, &ldquo;</span><span
        class='c2'
      >Merchant&rsquo;s Marks</span><span class='c1'>&rdquo;) on Company&rsquo;s
        website and in its marketing materials to identify Merchant as
        Company&rsquo;s customer, provided that Company shall use commercially
        reasonable efforts to adhere to the usage guidelines furnished by
        Merchant with respect to Merchant&rsquo;s Marks.</span>
    </li>
    <li class='c4 li-bullet-0'>
      <span class='c0'>Non-Solicit</span><span class='c1'>. &nbsp;Merchant
        agrees that during the Term and for one (1) year thereafter, it shall
        not, directly or indirectly, knowingly recruit or solicit any of
        Company&rsquo;s employees or contractors; provided that this Section
        shall not prohibit Merchant from soliciting or hiring any person who
        responds to a general advertisement or solicitation not specifically
        directed at employees of Company. &nbsp;</span>
    </li>
    <li class='c4 li-bullet-0'>
      <span class='c0'>Assignment</span><span class='c1'>. Neither Party may
        assign or transfer this Agreement, by operation of law or otherwise,
        without the other Party&rsquo;s prior written consent, except to an
        acquirer or successor in interest in connection with a merger or
        acquisition involving such Party or sale of all or substantially all or
        such Party&rsquo;s assets. Any attempt to assign or transfer this
        Agreement without such consent will be void. Subject to the foregoing,
        this Agreement is binding upon and will insure to the benefit of each of
        the Parties&rsquo; and their respective successors and permitted
        assignments.</span>
    </li>
    <li class='c4 li-bullet-0'>
      <span class='c0'>Entire Agreement</span><span class='c1'>. This Agreement,
        including its exhibits and any Order Forms, is the complete and
        exclusive agreement between the Parties with respect to its subject
        matter and supersedes any and all prior or contemporaneous agreements,
        communications and understandings, both oral and written, with respect
        to its subject matter. This Agreement may be amended or modified only by
        a written document executed by duly authorized representatives of the
        Parties.</span>
    </li>
    <li class='c4 li-bullet-0'>
      <span class='c0'>Export Regulation</span><span>. Merchant will fully
        comply with all applicable federal laws, regulations and rules that
        prohibit or restrict the export or re-export of the Subscription
        Services or software, or any Merchant Materials, outside the United
        States (&ldquo;</span><span class='c2'>Export Rules</span><span
        class='c1'
      >&rdquo;), and will complete all undertakings required by Export Rules,
        including obtaining any necessary export license or other governmental
        approval.</span>
    </li>
    <li class='c4 li-bullet-0'>
      <span class='c0'>Force Majeure</span><span class='c1'>. Neither Party will
        be responsible for any failure or delay in the performance of its
        obligations under this Agreement (except for any payment obligations)
        due to causes beyond its reasonable control, which may include, without
        limitation, labor disputes, strikes, lockouts, shortages of or inability
        to obtain energy, raw materials or supplies, denial of service or other
        malicious attacks, telecommunications failure or degradation, pandemics,
        epidemics, public health emergencies, governmental orders and acts
        (including government-imposed travel restrictions and quarantines),
        material changes in law, war, terrorism, riot, or acts of God.</span>
    </li>
    <li class='c4 li-bullet-0'>
      <span class='c0'>Governing Law; Jurisdiction</span><span class='c1'>. This
        Agreement will be governed by and construed in accordance with the laws
        of the state of New York without giving effect to any principles of
        conflict of laws that would lead to the application of the laws of
        another jurisdiction. The Parties expressly agree that the United
        Nations Convention on Contracts for the International Sale of Goods will
        not apply. Any legal action or proceeding arising under this Agreement
        will be brought exclusively in the federal or state courts located in
        New York, NY and the Parties irrevocably consent to the personal
        jurisdiction and venue therein.</span>
    </li>
    <li class='c4 li-bullet-0'>
      <span class='c0'>Notices</span><span>. All notices required or permitted
        under this Agreement will be in writing (email being sufficient), will
        reference this Agreement, and will be deemed given: (i) when delivered
        personally; (ii) one (1) business day after deposit with a nationally
        recognized express courier, with written confirmation of receipt; (iii)
        when sent by email, on the date the email was sent with without a bounce
        back message if sent during normal business hours of the receiving
        party, and on the next business day if sent after normal business hours
        of the receiving party; or (iv) three (3) business days after having
        been sent by registered or certified mail, return receipt requested,
        postage prepaid.
      </span><span>All notices (a) to Company will be sent to Skila d.o.o.,
        Papirni&scaron;ki trg 17, 1000 Ljubljana, Slovenia Support, e-mail:
      </span><span class='c0 c17'><a
          class='c19'
          href='mailto:support@skila.com'
        >support@minskila.com</a></span><span>; and (b) to Merchant will be sent
        to the addresses set forth in the applicable Order Form; or to such
        other address as may be specified by either Party to the other Party in
        accordance with this
      </span><span class='c0'>Section 12(h)</span><span class='c1'>.</span>
    </li>
    <li class='c4 li-bullet-0'>
      <span class='c0'>Relationship Between the Parties</span><span class='c1'>.
        The relationship between the Parties is that of independent contractors.
        Nothing in this Agreement will be construed to establish any
        partnership, joint venture or agency relationship between the Parties.
        Neither Party will have the power or authority to bind the other or
        incur any obligations on the other&rsquo;s behalf without the other
        Party&rsquo;s prior written consent.</span>
    </li>
    <li class='c4 li-bullet-0'>
      <span class='c0'>No Third-party Beneficiaries</span><span class='c1'>.
        Unless otherwise expressly provided, no provision of this Agreement is
        intended to confer any rights, benefits, remedies, obligations, or
        liabilities hereunder upon any person or entity other than the Parties
        and their respective successors and assigns.
      </span>
    </li>
    <li class='c4 li-bullet-0'>
      <span class='c0'>Severability</span><span class='c1'>. If any provision of
        this Agreement is held invalid, illegal or unenforceable, that provision
        will be enforced to the maximum extent permitted by law, given the
        fundamental intentions of the Parties, and the remaining provisions of
        this Agreement will remain in full force and effect.</span>
    </li>
    <li class='c4 li-bullet-0'>
      <span class='c0'>Non-Exclusive Remedies</span><span class='c1'>. Except as
        set forth in this Agreement, the exercise by either Party of any remedy
        under this Agreement will be without prejudice to its other remedies
        under this Agreement or otherwise. &nbsp;</span>
    </li>
    <li class='c4 li-bullet-0'>
      <span class='c0'>Waiver</span><span class='c1'>. Either Party&rsquo;s
        failure to enforce any provision of this Agreement will not constitute a
        waiver of future enforcement of that or any other provision. No waiver
        of any provision of this Agreement will be effective unless it is in
        writing and signed by the Party granting the waiver. &nbsp;</span>
    </li>
    <li class='c5 c6 li-bullet-0'>
      <span class='c0'>Counterparts</span><span class='c1'>. This Agreement may
        be executed in counterparts, each of which is deemed an original, but
        all of which together are deemed to be one and the same agreement. A
        signed copy (including via electronic signature) of this Agreement or
        any Order Form transmitted by facsimile, email or other means of
        electronic transmission shall be deemed to have the same legal effect as
        delivery of an original executed copy of this Agreement or such Order
        Form for all purposes. &nbsp;</span>
    </li>
  </ol>
</div>