<html lang='en'>
  {{> partials/head }}
  {{> partials/scripts }}
  <body class='how-it-works'>
    {{> partials/nav}}
    <header>
      <div class='header-content'>
        <div class='text-half'>
          <h1>How it works</h1>
          <p class='subtitle'>
            Skila transforms raw return data into actionable insights, empowering you to make strategic decisions about your product.
            <br />
            <br />
            You can leverage return data to anticipate customer needs and tailor your product offering for better market performance.
          </p>
          <a href='/free-trial.html' class='button primary'>Start free trial</a>
          <div class='image-half'>
            <img src='/assets/images/skilla_how_it_works_extended_3.png' />
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class='background'>
        <section id='ship'>
          <div class='section-wrapper'>
            <div class='section-padder'>
              <h2>Ship</h2>
              <p>Begin the journey with your devices right from the start. Utilize Skila to efficiently track your devices, keeping a vigilant 
                eye on their journey from the moment they are dispatched. 
                <br />
                <br />
                Skila's advanced tracking capabilities provide comprehensive visibility into your product's life cycle. 
                By tracking the life cycle, you can understand when and why returns happen, enabling you to make 
                strategic decisions about product improvements. With Skila, turn your product life cycle tracking into a strategic advantage.</p>
              <div>
                <div class='checkmark'>
                  {{> partials/checkmark }}
                  <p class='checkmark-text'>Display accurate delivery dates</p>
                </div>
                <div class='checkmark'>
                  {{> partials/checkmark }}
                  <p class='checkmark-text'>Track warranties</p>
                </div>
              </div>
            </div>
          </div>
          <div class='section-image'>
            <div class='image'>&nbsp;</div>
            <img src='/assets/images/skilla_why_skilla_1.png' />
          </div>
        </section>
        <section id='track'>
          <div class='section-wrapper'>
            <div class='section-padder'>
              <h2>Track</h2>
              <p>Make every moment count in the consumer journey through
                messaging that’s built to drive engagement.
                <br />
                <br />
                Deliver contextual, on-brand order tracking experiences to drive
                consumer engagement and incremental revenue.</p>
              <div>
                <div class='checkmark'>
                  {{> partials/checkmark }}
                  <p class='checkmark-text'>Monitor shipment performance</p>
                </div>
                <div class='checkmark'>
                  {{> partials/checkmark }}
                  <p class='checkmark-text'>Add post-purchase tracking to your
                    website</p>
                </div>
                <div class='checkmark'>
                  {{> partials/checkmark }}
                  <p class='checkmark-text'>Design emails and a contextual
                    consumer dashboard</p>
                </div>
              </div>
            </div>
          </div>
          <div class='section-image'>
            <div class='image'>&nbsp;</div>
            <img src='/assets/images/skilla_who_is_behind_skilla_1.png' />
          </div>
        </section>
        <section id='returns'>
          <div class='section-wrapper'>
            <div class='section-padder'>
              <h2>Returns</h2>
              <p>Our platform simplifies the return process, making it easy for you and your customers.
                <br />
                <br />
                Skila enables you to delve deeper into each return, uncovering valuable insights. 
                By analyzing the reasons and patterns behind returns, you can identify areas for improvement in your product design and functionality. </p>
              <div>
                <div class='checkmark'>
                  {{> partials/checkmark }}
                  <p class='checkmark-text'>Free consumers from frustrating
                    return experiences</p>
                </div>
                <div class='checkmark'>
                  {{> partials/checkmark }}
                  <p class='checkmark-text'>Provide customer location pickup</p>
                </div>
                <div class='checkmark'>
                  {{> partials/checkmark }}
                  <p class='checkmark-text'>Improve product design and functionality</p>
                </div>
              </div>
            </div>
          </div>
          <div class='section-image'>
            <div class='image'>&nbsp;</div>
            <img src='/assets/images/skilla_returns_2.png' />
          </div>
        </section>
      </div>
      <section id='spare'>
        <h2>Spare yourself the headache</h2>
        <p>With Skila you can simplify  the return process while transforming it into a source of valuable insights. These insights empower businesses 
          to improve their product design and functionality, and enhance customer satisfaction, ultimately leading to a more successful and customer-centric business.</p>
        <a href='/free-trial.html' class='button primary'>Start free trial</a>
      </section>
    </main>
    {{> partials/footer }}
  </body>
</html>