<html lang='en'>
  {{> partials/head }}
  {{> partials/scripts }}
  <body class='first-page'>
    {{> partials/nav }}
    <header>
      <div class='header-content'>
        <div class='text-half'>
          <h1>Turning returns into strategic decisions</h1>
          <p class='subtitle'>
           With Skila, leverage the power of return analytics to uncover hidden insights, 
           optimize product performance, and drive impactful business strategies.
          </p>
          <a href='/free-trial.html' class='button primary'>Start free trial</a>
        </div>
      </div>
    </header>
    <main>
      <div class='background margin-top-mobile'>
        <div class='stock-image'>
          <img src='assets/images/skila_woman_banner_low_1.png' />
        </div>
        <section id='easy-integration'>
          <h2>Easy integration with other platforms</h2>
          <div class='icon-container'>
            <img
              src='assets/images/shopify_logo_white.svg'
              class='company-icon'
            />
            <img
              src='assets/images/shopify_plus_logo_white.svg'
              class='company-icon'
            />
            <img
              src='assets/images/woocommerce_white.svg'
              class='company-icon'
            />
            <img
              src='assets/images/magento_logo_white.svg'
              class='company-icon'
            />
            <img
              src='assets/images/squarespace_logo_white.svg'
              class='company-icon'
            />
            <img
              src='assets/images/bigcommerce_logo_white.svg'
              class='company-icon'
            />
          </div>
        </section>
        <section id='video'>
          <div id='video-overlay'>
            <div id='video-controls-play'>
              <img class='unmute-icon' src='assets/images/play_icon.svg' />
            </div>
            <div id='video-controls-pause'>&nbsp;</div>
            <video id='promotional-video' muted autoplay preload='metadata'>
              <source src='assets/videos/skila_video.mp4' type='video/mp4' />
              Your browser does not support the video tag.
            </video>
          </div>
        </section>
        <section id='carrier-partners'>
          <h2>Our carrier partners</h2>
          <div class='icon-container'>
            <img src='assets/images/dhl_logo_white.svg' class='carrier-icon' />
            <img
              src='assets/images/us_postal_service_logo_white.svg'
              class='carrier-icon'
            />
            <img src='assets/images/ups_logo_white.svg' class='carrier-icon' />
            <img src='assets/images/gls_logo_white.svg' class='carrier-icon' />
            <img
              src='assets/images/fedex_logo_white.svg'
              class='carrier-icon'
            />
            <img src='assets/images/dpd_logo_white.svg' class='carrier-icon' />
          </div>
        </section>
      </div>
      <section id='cards'>
        <div class='cards-container'>
          <div class='card'>
            <div class='card-icon'>
              <img src='assets/images/express-delivery-1.svg' />
            </div>
            <h3>Ship</h3>
            <p>Tracking your devices from the start.</p>
            <p>
              Utilize Skila to efficiently monitor your devices, tracking their journey from the moment they are sent.
            </p>
            <a href='/how-it-works.html#ship' class='button primary'>Read more</a>
          </div>
          <div class='card'>
            <div class='card-icon'>
              <img src='assets/images/tracking-1.svg' />
            </div>
            <h3>Track</h3>
            <p>From order delivery through return.</p>
            <p>
              Skila’s messaging is built to drive consumer engagement and
              incremental revenue.
            </p>
            <a href='/how-it-works.html#track' class='button primary'>Read more</a>
          </div>
          <div class='card'>
            <div class='card-icon'>
              <img src='assets/images/return-box-1.svg' />
            </div>
            <h3>Returns</h3>
            <p>Returns made easy.</p>
            <p>
              Learn from returns to improve product design, functionality, and customer satisfaction.
            </p>
            <a href='/how-it-works.html#returns' class='button primary'>Read
              more</a>
          </div>
        </div>
      </section>
      <div class='background'>
        <section class='glide' id='testimonials'>
          <div class='testimonials-container'>
            <div class='glide__track' data-glide-el='track'>
              <ul class='glide__slides'>
                <li class='glide__slide'>
                  <div class='testimony'>
                    <div class='user-image'>
                      <img src='assets/images/figure-luka-birsa-1.svg' />
                    </div>
                    <div class='text-box'>
                      <q>Prior to Skila, returns were painful and expensive. We
                        are thrilled to consolidate returns software and
                        services with one trusted partner, and our customers
                        appreciate the ease and consistency.</q>
                      <p class='user-name'>Luka Birsa</p>
                      <p class='user-role'>CTO at Visionect</p>
                    </div>
                  </div>
                </li>
                <li class='glide__slide'>
                  <div class='testimony'>
                    <div class='user-image'>
                      <img src='assets/images/GregaF.jpg' />
                    </div>
                    <div class='text-box'>
                      <q>Thanks to Skila, returns and shipping are no longer a
                        headache. They provide a seamless solution that allows
                        us to focus on providing the best products and customer
                        experience possible.</q>
                      <p class='user-name'>Gregor Fartek</p>
                      <p class='user-role'>Head Of Support at Bird Buddy</p>
                    </div>
                  </div>
                </li>
                {{! <li class='glide__slide'>
                  <div class='testimony'>
                    <div class='user-image'>
                      <img src='assets/images/figure-luka-birsa-1.svg' />
                    </div>
                    <div class='text-box'>
                      <q>Prior to Skila, returns were painful and expensive. We
                        are thrilled to consolidate returns software and
                        services with one trusted partner, and our customers
                        appreciate the ease and consistency.</q>
                      <p class='user-name'>Luka Birsa</p>
                      <p class='user-role'>CTO as Visionect</p>
                    </div>
                  </div>
                </li> }}
              </ul>
            </div>
            <div class='glide__bullets' data-glide-el='controls[nav]'>
              <button class='glide__bullet' data-glide-dir='=0'></button>
              <button class='glide__bullet' data-glide-dir='=1'></button>
              {{! <button class='glide__bullet' data-glide-dir='=1'></button>
              <button class='glide__bullet' data-glide-dir='=2'></button> }}
            </div>
          </div>
        </section>
      </div>
    </main>
    {{> partials/footer }}
  </body>
</html>