<html lang='en'>
  {{> partials/head }}
  {{> partials/scripts }}
  <body class='more-info'>
    {{> partials/nav}}
    <header>
      <div class='header-content'>
        <div class='text-half'>
          <h1>The Post-Purchase Platform</h1>
          <p class='subtitle'>
            An integrated Post-Purchase can play a pivotal role when sending
            your goods and in the return process. Maximize your ability to
            resell items, recapture revenue, lower return costs, and provide a
            great customer experience.
          </p>
          {{! <a href='/free-trial.html' class='button primary'>Start free trial</a> }}
        </div>
      </div>
    </header>
    <main>
      <div class='background'>
        <section id='simplify'>
          <div id='simplify-your-shipping-process' class='section-wrapper'>
            <div class='section-padder'>
              <h3>Simplify your shipping process</h3>
              <p>More transparency, more purchasing confidence. Display delivery
                dates on product Use the simple Skila Ship dashboard to manage
                your shipments. Make sure your customers know exactly when their
                product is sent and let the tracking algorithm precisely
                calculate the delivery date. Make sure customers have clear
                delivery expectations via predictive delivery dates to drive
                increased conversion.</p>
              <h3>Provide delivery information before purchase</h3>
              <p>More transparency, more purchasing confidence. Display delivery
                dates on product pages and at checkout to let your customers
                know exactly when their product will arrive. Precisely calculate
                the time from package pickup to delivery at the customer’s
                doorstep with comprehensive time-in-transit data. Configure
                flexible rules to account for your specific business needs,
                ensuring the most accurate delivery estimates, even for multiple
                classes of service.</p>
            </div>
          </div>
          <div class='section-image'>
            <div class='image'>&nbsp;</div>
            <img src='/assets/images/skilla_why_skilla_1.png' />
          </div>
        </section>
        <section id='monitor'>
          <div id='monitor-shipment-performance' class='section-wrapper'>
            <div class='section-padder'>
              <h3>Monitor shipment performance</h3>
              <p>Make every moment count in the consumer journey through
                messaging that’s built to drive engagement. Deliver contextual,
                on-brand order tracking experiences to drive consumer engagement
                and incremental revenue.</p>
              <h3>Add post-purchase tracking to your website</h3>
              <p>Easily embed any element of your tracking pages such as
                estimated delivery dates, marketing assets or product
                recommendations to any page on your website.</p>
              <h3>Design emails and a contextual consumer dashboard</h3>
              <p>Use the self-serve track page editor to build unique
                experiences with complete brand control and flexibility.</p>
            </div>
          </div>
          <div class='section-image'>
            <div class='image'>&nbsp;</div>
            <img src='/assets/images/skilla_who_is_behind_skilla_1.png' />
          </div>
        </section>
        <section id='freeing'>
          <div
            id='free-consumers-from-frustrating-return-experiences'
            class='section-wrapper'
          >
            <div class='section-padder'>
              <h3>Free consumers from frustrating return experiences</h3>
              <p>No more offline, time-consuming returns. Deliver a
                self-service, online experience that builds consumer loyalty.
                Decide if you wish to cover the return for the customer or they
                need to pay themselves. Pick the country to cover returns for or
                allow the customer to do it themselves.</p>
              <h3>Provide customer location pickup</h3>
              <p>Provide consumers with the option to schedule the return pickup
                from their exact location.</p>
              <h3>Support branded online returns & exchanges</h3>
              <p>Let consumers return or exchange products in just a few clicks
                via an online branded returns portal.</p>
            </div>
          </div>
          <div class='section-image'>
            <div class='image'>&nbsp;</div>
            <img src='/assets/images/skilla_returns_2.png' />
          </div>
        </section>
      </div>
    </main>
    {{> partials/footer }}
  </body>
</html>