<html lang='en'>
  {{> partials/head }}
  {{> partials/scripts }}
  <body class="privacy">
    {{> partials/nav }}
    <main>
      <div class='privacy-wrapper'>
        {{> partials/privacy-text.handlebars }}    
      </div>
    </main>
    {{> partials/footer }}
  </body>
</html>