<html lang='en'>
  {{> partials/head }}
  {{> partials/scripts }}
  <body class='terms'>
    {{> partials/nav }}
    <main>
      <div class='terms-wrapper'>
        {{> partials/terms-text.handlebars }}    
      </div>
    </main>
    {{> partials/footer }}
  </body>
</html>